VITE_WEATHER_ORACLE_ADDRESS=0x03a53d823F67baAE59e92A27460D316564Af85A6
VITE_GENLAYER_STUDIO_CHAIN_ID=0xF22F
VITE_GENLAYER_STUDIO_CHAIN_NAME=GenLayer Studio
VITE_GENLAYER_RPC_URL=http://127.0.0.1:4000/api
VITE_GENLAYER_EXPLORER_URL=
VITE_GENLAYER_NATIVE_CURRENCY_NAME=GEN
VITE_GENLAYER_NATIVE_CURRENCY_SYMBOL=GEN
VITE_GENLAYER_NATIVE_CURRENCY_DECIMALS=18
VITE_TX_POLL_INTERVAL=3000
VITE_TX_POLL_RETRIES=120
